@media (max-width: 390px) {
  body {
    overflow-y: scroll;
  }
  .header {
    width: 100%;
    max-width: 390px;
    padding: 0 5.12vw;
    box-sizing: border-box;
    h1 {
      img {
        width: 13vw;
      }
    }
    nav {
      ul {
        display: none;
      }

      .btnHam {
        display: block;
        span {
          width: 6.15vw;
          height: 2px;
          &:nth-child(2) {
            margin: 2.05vw 0;
          }
        }
      }
    }
    &.onHam {
      width: 100%;
      max-width: 100%;
      position: fixed;
      right: 0;
      top: 0;
      bottom: 0;
      left: 0;
      transform: none;
      display: block;
      z-index: 100;
      background-color: #fff;
      h1 {
        display: none;
      }
      nav {
        position: fixed;
        right: 0;
        top: 0;
        bottom: 0;
        width: 85%;
        background-color: nth($blue, 1);
        color: white;
        transform: none;
        display: block;
        ul {
          display: block;
          margin: 30.76vw 0 12.82vw 12.82vw;
          color: white;
          font-size: $mbNSize;
          li {
            margin: 0 0 7.69vw;
          }
        }
        .btnHam {
          display: none;
        }
        .closeNav {
          display: block;
          position: absolute;
          top: 5.12vw;
          left: 5.12vw;
        }
      }
    }
  }

  .area {
    .inner {
      width: 83.58vw;
    }

    &.banner {
      display: block;
      height: 205.64vw;
      text-align: center;
      background: lighten(nth($blue, 3), 20%) url(../img/background.png)
        no-repeat center 411px/300px;
      header {
        padding-top: 29.74vw;
        h2 {
          //화면을 줄였을 때 폰트 사이즈 크기가 애매하다.
          font-size: $mbBSize;
          line-height: 1.7;
        }
        ol {
          margin: 7.69vw 0;
          li {
            //크기 눈대중으로 수정
            font-size: $mbNSize;
            line-height: 2;
          }
        }
      }
      button {
        font-size: $mbNSize;
        padding: 2.82vw 6.15vw;
      }
    }

    &.intro {
      .inner {
        display: block;
        text-align: center;
        padding: 8.2vw 0 15.38vw;
      }
      .ir {
        width: 100%;
        height: 44.1vw;
        margin: 0;
      }
      header {
        h2 {
          font-size: $mbBSize;
          line-height: 1.7;
          margin: 10.24vw 0 5.12vw;
          color: nth($blue, 2);
        }
        p {
          font-size: $mbNSize;
        }
      }
    }

    &.showcase {
      header {
        h2 {
          font-size: $mbBSize;
          margin-bottom: 7.69vw;
        }
        p {
          font-size: 4.1vw;
          line-height: 1.6;
        }
      }
      ul {
        @include flex;
        margin: 10.24vw 0;
        overflow-x: scroll;
        li {
          button {
            width: 66.66vw;
            height: 66.66vw;
            border-radius: 4.61vw;
          }
          &:nth-child(2) {
            margin: 0 5.12vw;
          }
          &:hover button {
            box-shadow: none;
            border: 1px solid nth($blue, 4);
          }
        }
      }
      .desc {
        display: block;
        text-align: left;
        margin-bottom: 84.61vw;
        p {
          font-size: 4.1vw;
          margin-right: 0;
          margin-bottom: 7.69vw;
        }
        button {
          float: right;
          font-size: $mbNSize;
          padding: 2.82vw 6.15vw;
          margin: 0;
        }
      }
    }
  }

  .subscribe {
    width: 83.58vw;
    bottom: 43.81vw;
    display: block;
    padding: 9.23vw 8.2vw;
    box-sizing: border-box;
    border-radius: 10.2vw;
    header {
      width: auto;
      h2 {
        font-size: $mbBSize;
        margin: 0;
      }
      p {
        font-size: $mbNSize;
        margin: 5.12vw 0 7.68vw;
      }
    }
    .contForm {
      width: 100%;
      label {
        input {
          font-size: 3.07vw;
          padding: 3.07vw 0 3.07vw 12.3vw;
          border-radius: 15.38vw;
        }
        &::before {
          left: $mbNSize;
          width: 4.61vw;
          height: 4.16vw;
        }
      }
      button {
        position: static;
        transform: translateY(0);
        float: right;
        font-size: $mbNSize;
        padding: 2.82vw 6.15vw;
        margin-top: 7.94vw;
      }
    }
  }

  .bgImg {
    height: 61.53vw;
  }

  .modal {
    .modalInner {
      width: 76.92vw;
      height: 76.92vw;
      bottom: auto;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      @include flex($j: center, $a: center, $d: column);
      background: url($url + "modal-bg-img.png") no-repeat center center/cover;
      border-radius: 7.69vw;
      &::before {
        width: 15.38vw;
        height: 15.38vw;
      }
      h2 {
        margin: 6.15vw 0 2.56vw;
        font-size: $mbBSize;
      }
      p {
        margin-bottom: 7.17vw;
        font-size: 3.58vw;
      }
      button {
        font-size: $mbNSize;
        padding: 2.82vw 6.15vw;
      }
    }
  }
  .scroll-top {
    display: none;
  }

  .footer {
    display: block;
    .fullScreen {
      width: 83.58vw;
      margin: 6.15vw auto;
      display: block;
      img {
        width: 22vw;
        margin-bottom: 8vw;
      }
      ul {
        @include flex($j: flex-start, $a: center);
        li {
          a {
            display: block;
            width: 8.2vw;
            height: 8.2vw;
            background-size: 5.25vw;
          }
          &:nth-child(2) {
            margin: 0 $mbNSize;
          }
          &:nth-child(3) {
            margin-right: $mbNSize;
          }
        }
      }
    }
  }
}
