@font-face {
  font-family: "GmarketSansBold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
* {
  font-family: "GmarketSansMedium";
}
html {
  font-size: 16px;
  scroll-behavior: smooth;
}
body {
  position: relative;
  color: #183152;
}
.App {
  width: 100%;
  height: 100%;
}
.header {
  width: 100%;
  position: absolute;
  height: 102px;
  background: none;
  z-index: 20;
}
.header-cont {
  width: 80%;
  height: 100%;
  top: 0;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header--scroll {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.897);
  z-index: 50;
}
.header .header__logo {
  width: 100px;
}
.header .nav .nav__list {
  display: flex;
  align-items: center;
}
.header .nav .nav__list .nav__item {
  margin-left: 30px;
}
.header .nav .nav__list .nav__item .nav__btn {
  background-color: #183152;
  padding: 15px 30px;
  border: none;
  border-radius: 40px;
}
.header .header__menu {
  background: none;
  border: none;
  display: none;
  width: 32px;
  height: 32px;
}

main {
  position: relative;
}

.banner--w100 {
  width: 100%;
  background-color: #e1e6fa;
}
.banner {
  position: relative;
  width: 80%;
  margin: 0 auto;
  z-index: 10;
  overflow: hidden;
}
.banner .banner__tit {
  display: inline-block;
  width: 710px;
  margin: 302px 0 40px;
  font-size: 48px;
  font-weight: 700;
  font-family: "GmarketSansBold";
}
.banner .banner__desc {
  width: 400px;
  margin: 0 0 10px;
}
.banner .banner__btn {
  padding: 15px 30px;
  background-color: #183152;
  color: white;
  border: none;
  border-radius: 40px;
  margin: 40px 0 200px;
}
.banner .banner__img {
  width: 300px;
  position: absolute;
  bottom: -40px;
  right: 100px;
  z-index: -10;
}

.introduction {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}
.introduction .introduction__img {
  display: inline-block;
  width: 390px;
  filter: drop-shadow(10px 10px 30px rgba(0, 0, 0, 0.25));
  border: none;
  border-radius: 30px;
  margin: 80px 0 0;
}
.introduction .introduction__cont-desc {
  width: 510px;
  margin: 200px 0;
}
.introduction .introduction__cont-desc .introduction__tit {
  font-size: 36px;
  font-family: "GmarketSansBold";
}
.introduction .introduction__cont-desc .introduction__desc {
  margin-top: 30px;
}

.showcase {
  width: 80%;
  margin: 0 auto 500px;
}
.showcase .showcase__tit {
  font-family: "GmarketSansBold";
  font-size: 48px;
  margin: 120px 0 40px 0;
  text-align: center;
}
.showcase .showcase__desc {
  text-align: center;
  margin-bottom: 10px;
}
.showcase .showcase__list {
  display: flex;
  justify-content: space-between;
}
.showcase .showcase__list .showcase__item {
  width: 350px;
  height: 350px;
  overflow: hidden;
  filter: drop-shadow(10px 10px 30px rgba(0, 0, 0, 0.25));
  border-radius: 30px;
  margin-top: 88px;
  border: 5px solid #183152;
}
.showcase .showcase__list .showcase__item .showcase__img {
  width: 350px;
}
.showcase .showcase__introduction-simple {
  margin: 90px 0 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.showcase .showcase__introduction-simple .showcase__cont-desc {
  text-align: left;
}
.showcase
  .showcase__introduction-simple
  .showcase__cont-desc
  .showcase__desc-simple {
  margin-bottom: 5px;
}
.showcase .showcase__introduction-simple .showcase__btn-detail {
  display: inline-block;
  padding: 10px 30px;
  margin-left: 40px;
  background-color: #183152;
  color: white;
  border: none;
  border-radius: 40px;
}

.subscribe {
  width: 80%;
  padding: 50px 30px;
  box-sizing: border-box;
  background-color: #375d81;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  bottom: 260px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 20;
}
.subscribe .subscribe__cont .subscribe__tit {
  display: inline-block;
  font-family: "GmarketSansBold";
  font-size: 26px;
  color: #fff;
  margin-bottom: 15px;
}
.subscribe .subscribe__cont .subscribe__desc {
  color: #fff;
  margin-top: 3px;
}
.subscribe .subscribe__form {
  position: relative;
}
.subscribe .subscribe__form::before {
  content: "";
  width: 20px;
  height: 16px;
  background: url(./img/mail.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 25px;
}
.subscribe .subscribe__form .subscribe__email {
  width: 450px;
  height: 50px;
  padding-left: 55px;
  border-radius: 60px;
  color: #767676;
}
.subscribe .subscribe__form .subscribe__submit {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 6px;
  padding: 14px 30px;
  font-family: "GmarketSansBold";
  background-color: #183152;
  color: white;
  border: none;
  border-radius: 40px;
}

.cont-modal {
  width: 600px;
  height: 400px;
  position: absolute;
  background: url(./img/modal-bg-img.png);
  background-size: contain;
  z-index: 30;
  left: 50%;
  transform: translateX(-50%);
  bottom: 150px;
  border-radius: 30px;
  text-align: center;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
}
.cont-modal--hide {
  display: none;
}
.cont-modal .cont-modal__img {
  display: block;
  margin: 60px auto 0;
  width: 110px;
}
.cont-modal .cont-modal__tit {
  display: inline-block;
  font-family: "GmarketSansBold";
  margin-top: 24px;
  font-size: 36px;
  color: #183152;
}
.cont-modal .cont-modal__desc {
  margin-top: 12px;
}
.cont-modal .cont-modal__btn {
  margin-top: 38px;
  padding: 15px 29px;
  background: #183152;
  border: none;
  border-radius: 40px;
  color: #fff;
  font-size: 16px;
}

.cont-img {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 340px;
  overflow: hidden;
}
.cont-img::after {
  width: 100%;
  height: 100%;
  content: "";
  background-color: #f2e9d8;
  opacity: 0.5;
  position: absolute;
  top: 0;
}
.cont-img .cont-img__bg {
  width: 100%;
  position: absolute;
  top: -1200px;
}

.footer {
  position: relative;
  height: 130px;
}
.footer .footer__cont-hidden .footer__list-hidden {
  display: none;
}
.footer .footer__cont {
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
}
.footer .footer__cont .footer__logo {
  width: 100px;
}
.footer .footer__cont .footer__list {
  display: flex;
}
.footer .footer__cont .footer__list .footer__item {
  background-color: #183152;
  padding: 8px;
  margin-left: 16px;
  border-radius: 50px;
}

.scroll-top {
  display: inline-block;
  width: 50px;
  height: 50px;
  position: sticky;
  bottom: 0;
  left: 95%;
  padding-bottom: 25px;
}
.scroll-top .scroll-top__btn {
  border: gray;
  border-radius: 50px;
}
.scroll-top .scroll-top__btn:hover .scroll-top__img {
  filter: invert(51%) sepia(9%) saturate(17%) hue-rotate(316deg) brightness(88%)
    contrast(86%);
}

.nav-hidden {
  display: none;
}

@media screen and (max-width: 480px) {
  html {
    font-size: 14px;
  }

  .header {
    height: 76px;
  }
  .header .header__logo {
    font-size: 20px;
  }
  .header .nav {
    display: none;
  }
  .header .nav .nav__list {
    display: flex;
    align-items: center;
  }
  .header .nav .nav__list .nav__item {
    margin-left: 30px;
  }
  .header .nav .nav__list .nav__item .nav__btn {
    background-color: #d97652;
    color: #fff;
    padding: 15px 30px;
    border: none;
    border-radius: 40px;
  }
  .header .header__menu {
    display: inline-block;
  }

  .banner {
    text-align: center;
  }
  .banner .banner__tit {
    width: 263px;
    margin: 116px 0 30px;
    text-align: center;
    font-size: 24px;
  }
  .banner .banner__desc {
    display: inline-block;
    width: 280px;
    margin: 0 0 30px;
  }
  .banner .banner__btn {
    padding: 11px 24px;
    margin: 0 0 390px;
  }
  .banner .banner__img {
    width: 197px;
    bottom: -100px;
    left: 50%;
    transform: translateX(-50%);
  }

  .introduction {
    flex-direction: column;
    justify-content: space-between;
  }
  .introduction .introduction__img {
    width: 100%;
    filter: drop-shadow(10px 10px 20px rgba(0, 0, 0, 0.25));
    border: none;
    margin: 46px 0 0;
  }
  .introduction .introduction__cont-desc {
    width: 100%;
    margin: 40px auto 0;
    text-align: center;
  }
  .introduction .introduction__cont-desc .introduction__tit {
    font-size: 24px;
  }
  .introduction .introduction__cont-desc .introduction__desc {
    margin: 20px 0 60px;
  }

  .showcase {
    width: 100%;
    margin: 0 auto;
    padding-bottom: 360px;
  }
  .showcase .showcase__tit {
    font-size: 24px;
    margin-bottom: 30px;
  }
  .showcase .showcase__desc {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 5px;
  }
  .showcase .showcase__list {
    overflow: hidden;
    padding: 40px 0 60px;
    justify-content: space-around;
  }
  .showcase .showcase__list .showcase__item .showcase__img {
    width: 260px;
    filter: drop-shadow(10px 10px 20px rgba(0, 0, 0, 0.25));
    border-radius: 18px;
    margin: 0 10px;
  }
  .showcase .showcase__introduction-simple {
    margin-top: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  .showcase .showcase__introduction-simple .showcase__desc-simple {
    width: 80%;
    margin: 0 auto;
  }
  .showcase
    .showcase__introduction-simple
    .showcase__cont-desc
    .showcase__desc-simple {
    margin-bottom: 3px;
  }
  .showcase .showcase__introduction-simple .showcase__btn-detail {
    padding: 11px 24px;
    margin: 30px 32px 180px;
  }
  .subscribe {
    padding: 36px 32px;
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 150px;
  }
  .subscribe .subscribe__cont .subscribe__tit {
    margin-bottom: 20px;
  }
  .subscribe .subscribe__form {
    margin: 30px 0 60px;
  }
  .subscribe .subscribe__form::before {
    width: 18px;
    height: 18px;
    left: 25px;
  }
  .subscribe .subscribe__form .subscribe__email {
    width: 262px;
    height: 40px;
    padding-left: 55px;
  }
  .subscribe .subscribe__form .subscribe__submit {
    right: 0;
    top: 85px;
    padding: 11px 24px;
  }

  .cont-modal {
    width: 300px;
    height: 300px;
    bottom: 165px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  }
  .cont-modal .cont-modal__img {
    margin: 40px auto 0;
    width: 60px;
  }
  .cont-modal .cont-modal__tit {
    margin-top: 24px;
    font-size: 24px;
  }
  .cont-modal .cont-modal__desc {
    width: 164px;
    margin: 10px auto 0;
  }
  .cont-modal .cont-modal__btn {
    margin-top: 28px;
    padding: 11px 24px;
    font-size: 14px;
  }

  .cont-img {
    height: 240px;
  }
  .cont-img::after {
    width: 100%;
    height: 100%;
    content: "";
    background-color: #f2e9d8;
    opacity: 0.5;
    position: absolute;
    top: 0;
  }
  .cont-img .cont-img__bg {
    top: -100px;
  }

  .footer {
    height: 178px;
  }
  .footer__cont-hidden {
    width: 100%;
    height: 100%;
    padding: 24px 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  .footer .footer__cont {
    width: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    left: 0;
    top: 0;
    transform: translateX(0);
  }
  .footer .footer__cont .footer__logo {
    font-size: 20px;
  }
  .footer .footer__cont .footer__list .footer__item {
    margin-left: 0px;
    margin-right: 16px;
  }
  .footer .footer__cont-hidden .footer__list-hidden {
    height: 100%;
    display: block;
  }
  .footer .footer__cont-hidden .footer__list-hidden ul {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
  }

  .scroll-top {
    display: none;
  }
  .list-btn--on::before {
    width: 100%;
    height: 100%;
    content: "";
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 30;
  }

  .nav-hidden {
    position: absolute;
    top: 0;
    right: 0;
    width: 70%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    z-index: 40;
  }
  .nav--on {
    display: block;
  }
  .nav-hidden .nav-hidden__right-arrow {
    width: 32px;
    position: absolute;
    top: 22px;
    left: 20px;
  }
  .nav-hidden .nav-hidden__list {
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    margin: 120px 0 0 50px;
    font-family: "GmarketSansBold";
  }
  .nav-hidden .nav-hidden__list .nav-hidden__item .nav-hidden__btn {
    display: inline-block;
    padding: 11px 24px;
    margin-left: -10px;
    background-color: #d97652;
    border: none;
    border-radius: 40px;
    color: white;
    font-family: "GmarketSansBold";
  }
}
